asgiref==3.10.0
Django==5.2.7
sqlparse==0.5.3
tzdata==2025.2
asgiref==3.10.0
Django==5.2.7
sqlparse==0.5.3
tzdata==2025.2
djangorestframework==3.15.0
djangorestframework-simplejwt==6.3.0
PyJWT==2.8.0
